/* =============================== GENERAL======================== */
@font-face {
  font-family: "Montserrat";
  src: url(./font/Montserrat-Regular.woff2);
}

@font-face {
  font-family: "Montserrat";
  src: url(./font/Montserrat-SemiBold.woff2);
  font-weight: 600;
}

@font-face {
  font-family: "Montserrat";
  src: url(./font/Montserrat-Bold.woff2);
  font-weight: 700;
}

@font-face {
  font-family: "Katona";
  src: url(./font/KatonaII.woff2);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: currentColor;
}

.container {
  max-width: 160rem;
  padding: 0 2rem;
  margin: 0 auto;
}

h1 {
  font-family: "Katona", Arial;
  font-weight: 700;
  font-size: 65.2348px;
  line-height: 82px;
  text-transform: uppercase;
}

h2 {
  font-family: "Katona", Arial;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  text-transform: uppercase;
}
/* ========================Общие компоненты ========================*/
.open {
  display: block;
}

.close {
  display: none;
}

.btn-black,
.btn-white {
  display: block;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  padding: 1.9rem 3.8rem;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  transition: 0.3s ease;
  border-radius: 0;
  border: 2px solid;
}
@media screen and (max-width: 600px) {
  .btn-black,
  .btn-white {
    padding: 1.9rem;
  }
}

.btn-black {
  background-color: #000;
  color: #fff;
}

.btn-black:hover,
.btn-black:active {
  background-color: #fff;
  color: #000;
  border: solid 2px #000;
  border-radius: 0;
}

.btn-white {
  background-color: #fff;
  color: #000;
}

.btn-white:hover,
.btn-white:active {
  background-color: #000;
  color: #fff;
  border: solid 2px #fff;
  border-radius: 0;
}

/* Флажки */

input[type="radio"]:checked,
input[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

input[type="radio"]:checked + label,
input[type="radio"]:not(:checked) + label {
  display: inline-block;
  position: relative;
  padding-left: 4.4rem;
  line-height: 2rem;
  cursor: pointer;
}

/* Контейнера конструктора с 3 странциы */
.content-container__nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 6.5rem;
  margin-bottom: 4rem;
  margin-top: 5rem;
}

.content-container__btn {
  display: flex;
}
.content-container__navmob {
  display: none;
}

.content-container__btn .btn-white,
.content-container__btn .btn-black {
  font-size: 1.3rem;
  line-height: 1.6rem;
  padding: 1.7rem 1.9rem;
}

.content-container__btn .btn-black {
  border: 2px solid #000;
  margin-left: 1rem;
}

.content-container__btn .btn-white {
  min-width: 15.9rem;
}
