/* =============================== GENERAL======================== */
@font-face {
  font-family: "Montserrat";
  src: url(./font/Montserrat-Regular.woff2);
}

@font-face {
  font-family: "Montserrat";
  src: url(./font/Montserrat-SemiBold.woff2);
  font-weight: 600;
}

@font-face {
  font-family: "Montserrat";
  src: url(./font/Montserrat-Bold.woff2);
  font-weight: 700;
}

@font-face {
  font-family: "Katona";
  src: url(./font/KatonaII.woff2);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: currentColor;
}

.container {
  max-width: 160rem;
  padding: 0 2rem;
  margin: 0 auto;
}

h1 {
  font-family: "Katona", Arial;
  font-weight: 700;
  font-size: 65.2348px;
  line-height: 82px;
  text-transform: uppercase;
}

h2 {
  font-family: "Katona", Arial;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
}
/* ========================Общие компоненты ========================*/
.open {
  display: block;
}

.close {
  display: none;
}

.btn-black {
  display: block;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  padding: 1.9rem 3.8rem;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  transition: 0.3s ease;
  border-radius: 0;
  border: 2px solid;
}
@media screen and (max-width: 600px) {
  .btn-black {
    padding: 1.9rem;
  }
}

.btn-black {
  background-color: #000;
  color: #fff;
}

.btn-black:hover,
.btn-black:active {
  background-color: #fff;
  color: #000;
  border: solid 2px #000;
  border-radius: 0;
}
