.app {
  display: flex;
}

.app-img {
  box-sizing: border-box;
  height: 100vh;
  width: 55%;
  object-fit: cover;
  display: block;
}

.app-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-constructor {
  height: 100vh;
  max-width: 116rem;
  padding: 1rem;
  margin: 0 auto;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  width: 16.2rem;
}

.header-contact {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.header-contact__phone {
  color: #000;
  font-size: 1.4rem;
  line-height: 1.7rem;
  font-weight: 400;
  padding-right: 1rem;
}

.header-contact__phone a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-contact i {
  font-size: 2rem;
  margin-right: 0.5rem;
}
/* ======================== FOOTER ========================*/
.footer {
  max-width: 46rem;
  align-self: flex-end;
}

.footer-contact,
.footer-data {
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-align: right;
  text-transform: uppercase;
}

.footer-data {
  display: block;
  margin-top: 1rem;
  text-decoration: underline;
}

/* ========================HOME PAGE ========================*/

.container-home {
  margin: 4rem 19rem 4rem 4rem;
  max-width: 46.5rem;
}

.app-content.home-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home-page .btn-black {
  margin-top: 3.4rem;
}

/* ====================constructor-page-1======================================== */

.constructor-page-1 {
  display: none;
}
